<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>首页</title>
<link href="css/reset.css" rel="stylesheet"
	type="text/css" />
<link href="css/course.css" rel="stylesheet"
	type="text/css" />
</head>

<body>
	<!--wrap begin-->
	<div id="wrap">
		<div class="top"></div>
		<!--content begin-->
		<div class="content">
			<!--navList begin-->
			<div class="navList">
				<div class="navLeft"></div>
				<ul id="nav">
					<li><a href="#">首页</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
				</ul>
				<div class="navRight"></div>
			</div>
			<!--navList end-->
			<div class="mainContent">
				<div class="dateDisplay">2012年2月12日 星期天&nbsp;&nbsp; |&nbsp;
					&nbsp; 您所在的位置：首页</div>
				<div class="leftSide">
					<div class="leftSideContnt">
						<div class="columnBtn">
							<img src="images/columnBtn.jpg" />
						</div>
						<ul class="columnList">
							<li><a href="#" class="choose">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
						</ul>
					</div>
					<div class="pattern"></div>
				</div>
				<!--leftSide end-->
				<!--rightSide begin-->
				<div class="rightSide">
					<div class="slider">
						<img src="images/pic.jpg" />
					</div>
					<div class="intro">
						<div class="introTittle">
							<div class="introTittleText">课程简介</div>
						</div>
						<div class="introContent">力是以可可浆和可可脂为主要原料制成的一种甜食。它不但口感细腻甜美，而且还具有一股浓郁的香气。在浪漫的情人节，它更是表达爱情少不了的主角力是以可可浆和可可脂为主要原料制成的一种甜食。它不但口感细腻甜美，而且还具有一股浓郁的香气。在浪漫的情人节，它更是表达爱情少不了的主角</div>
					</div>
					<!--intro end-->
					<!--newsWrap begin-->
					<div class="newsWrap">
						<div class="newsTop">
							<h2 class="newsName">课程动态</h2>
							<span class="more"><a href="#">更多</a> 》</span>
						</div>
						<div class="newsContent">
							<div class="newsPic">
								<div class="newsPicPlace">
									<img src="images/newsPic.gif" />
								</div>
								<h3 class="newPicTitle">课程动态课程动态</h3>
							</div>
							<ul class="newsList">
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
							</ul>
							<div class="cb"></div>
						</div>

						<div class="newsTop">
							<h2 class="newsName">课程动态</h2>
							<span class="more"><a href="#">更多</a> 》</span>
						</div>
						<div class="newsContent">
							<div class="newsPic">
								<div class="newsPicPlace">
									<img src="images/newsPic.gif" />
								</div>
								<h3 class="newPicTitle">课程动态课程动态</h3>
							</div>
							<ul class="newsList">
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
								<li><a href="#">蕲春电信：县内已建成光纤物理成光纤物</a></li>
							</ul>
						</div>
						<div class="cb"></div>

					</div>
					<!--newsWrap end-->

					<!--notice begin-->
					<div class="notice">
						<div class="noticeTop">课程公告</div>
						<div class="noticeCotent">课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公课程公</div>
					</div>
					<!--notice end-->
				</div>
				<!--rightSide end-->
				<div class="cb"></div>
			</div>
			<!--mainContent end-->
		</div>
		<!--content end-->

	</div>

	<!--wrap end-->
	<div class="footer cb">
		<div class="footerContent">版权所有&copy;华南师范大学</div>
	</div>
</body>
</html>