@charset "utf-8";

@import url("cssreset.css");

@import url("validate.css");

.button {
	background: url(../images/skin/default/front/button_bg.gif) no-repeat;
	color: #000;
	border: none;
	width: 73px;
	height: 34px;
	cursor: pointer;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.user_login {
	width: 420px;
	height: 220px;
	padding-top: 20px;
	display: none;
	top:86px;
	left: -2px;
	position: absolute;
	z-index: 999;
	background: url(../images/skin/default/front/login_popup_bg.gif)
		no-repeat;
	float: left;
}

.to_login {
	border: 1px solid #3300FF;
	height: 50px;
	display: block;
	line-height: 50px;
	vertical-align: middle;
	background: #fff;
}

.login_table {
	margin-left: 0px;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 20px;
}

.bookingStep a {
	color: red;
	font-size: 14px;
	text-align: center;
	width: 100px;
	margin-left: 40px;
}

.input_text,.input_text_checkcode {
	width: 125px;
	height: 20px;
	border: 1px solid #ccc;
}

.input_text_checkcode {
	width: 50px;
	height: 22px;
	float: left;
}

.checkCode {
	width: 73px;
	margin-right: 5px;
	vertical-align: middle;
}

.checkCodeImg {
	cursor: pointer;
	vertical-align: top;
	width: 70px;
	height: 23px;
	margin-left: 4px;
}

.loginError {
	color: red;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}