<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>精品课程内容页</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/course.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--wrap begin-->
	<div id="wrap">
		<div class="top"></div>
		<!--content begin-->
		<div class="content">
			<!--navList begin-->
			<div class="navList">
				<div class="navLeft"></div>
				<ul id="nav">
					<li><a href="#">首页</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
					<li><a href="#">教师队伍</a></li>
				</ul>
				<div class="navRight"></div>
			</div>
			<!--navList end-->
			<div class="mainContent">
				<div class="dateDisplay">2012年2月12日 星期天&nbsp;&nbsp; |&nbsp;
					&nbsp; 您所在的位置：首页</div>
				<div class="leftSide">
					<div class="leftSideContnt">
						<div class="columnBtn">
							<img src="images/columnBtn.jpg" />
						</div>
						<ul class="columnList">
							<li><a href="#" class="choose">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
							<li><a href="#">教师团队</a></li>
						</ul>
					</div>
					<div class="pattern"></div>
				</div>
				<!--leftSide end-->
				<!--rightSide begin-->
				<div class="rightSide">
					<div class="column_article_list">
						<div class="column_name">
							<h2>查看文章</h2>
						</div>

						<div class="article_title">关于部分考生需重新提交合格照片的通知</div>
						<div class="article_other_info">本站原创 更新时间:2013-01-16
							11:14:37.0</div>
						<div class="article_content" id="article_content">考生需重新考生需重新考生需重新考生需重新考生需重新</div>

					</div>
				</div>
				<!--rightSide end-->
				<div class="cb"></div>
			</div>
			<!--mainContent end-->
		</div>
		<!--content end-->

	</div>

	<!--wrap end-->
	<div class="footer cb">
		<div class="footerContent">版权所有&copy;华南师范大学</div>
	</div>
</body>
</html>
