@charset "utf-8";

@import url("cssreset.css");

@import url("table.css");

@import url("validate.css");

@import url("form.css");

body,html {
	font-size: 13px;
	font-family: "宋体";
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	padding: 0px;
	margin: 0;
}

.l-link {
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	text-decoration: underline;
	color: #333;
}

.l-link2 {
	text-decoration: underline;
	color: white;
	margin-left: 2px;
	margin-right: 2px;
}

.l-layout-top {
	background: #102A49;
	color: White;
}

.l-layout-bottom {
	background: #E5EDEF;
	text-align: center;
}

#pageloading {
	position: absolute;
	left: 0px;
	top: 0px;
	background: white url('../widget/images/loading.gif') no-repeat center;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.l-link {
	display: block;
	line-height: 22px;
	height: 22px;
	padding-left: 16px;
	border: 1px solid white;
	margin: 4px;
}

.l-link-over {
	background: #FFEEAC;
	border: 1px solid #DB9F00;
}

.l-winbar {
	background: #2B5A76;
	height: 30px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 99999;
}

.space {
	color: #E7E7E7;
}
/* 顶部 */
.l-topmenu {
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	background: url('../widget/images/top.jpg') repeat-x bottom;
	position: relative;
	border-top: 1px solid #1D438B;
}

.l-topmenu-logo {
	color: #E7E7E7;
	padding-left: 35px;
	line-height: 26px;
	background: url('../widget/images/topicon.gif') no-repeat 10px 5px;
}

.l-topmenu-welcome {
	position: absolute;
	height: 24px;
	line-height: 24px;
	right: 30px;
	top: 2px;
	color: #070A0C;
}

.l-topmenu-welcome a {
	color: #E7E7E7;
	text-decoration: underline;
}

.functionList {
	border: 1px solid;
	height: 23px;
	line-height: 23px;
	margin: 2px;
	background: url(../images/skin/default/panel-toolbar.gif) repeat-x 1px
		1px;
	border-color: #EFF7F7 #9CBAE7 #9CBAE7 #bed5f3;
	border-color: #9cbae7;
	padding-left: 20px;
	border: 1px solid #9CBAE7;
	padding-top: 1px;
}

/*  两到四个字的按纽 */
.button1 {
	height: 22px;
	width: 60px;
	text-align: center;
	border: none;
	position: relative;
	cursor: pointer;
	float: left;
}

/* 五到八个字的按纽 */
.button2 {
	height: 22px;
	width: 120px;
	text-align: center;
	border: none;
	position: relative;
	cursor: pointer;
	float: left;
}

.button1Over {
	background: #E0EDFF url(../images/skin/default/panel-btn.gif) repeat-x;
}

.button1Left {
	position: absolute;
	width: 3px;
	left: 0px;
	top: 0px;
	height: 22px;
	background: #E0EDFF url(../images/skin/default/panel-btn-l.gif)
		no-repeat;
	display: none;
}

.button1Right {
	position: absolute;
	width: 3px;
	right: 0px;
	top: 0px;
	height: 22px;
	background: #E0EDFF url(../images/skin/default/panel-btn-r.gif)
		no-repeat;
	display: none;
}

.pageBar {
	height: 32px;
	background: #C9DFFF url(../images/skin/default//bar-bg.gif ) repeat-x
		left bottom;
	overflow: hidden;
	border-top: 1px solid #84A0C4;
	line-height: 32px;
	padding-left: 20px;
	margin: 2px;
	border: 1px solid #84a0c4;
	text-align: right;
	padding-right: 30px;
}

.formTable {
	margin: 2px;
}

.formTable td {
	padding: 2px 10px;
	border: 1px solid #cad9ea;
	padding: 2px 10px;
}

.fieldName {
	text-align: right;
	font-size: 12px;
	background: #f5fafe;
}

.fieldForm {
	text-align: left;
	font-size: 12px;
}

.inputText {
	border: 1px solid #ccc;
	height: 20px;
	line-height: 20px;
}

.submitButton,.resetButton {
	background: url(../images/skin/default/button-bg.gif) repeat-x;
	height: 21px;
	border: none;
	width: 60px;
	border: 1px solid #a3c0e8;
	cursor: pointer;
}

.asterisk {
	color: red;
}

.operationButton {
	cursor: pointer;
	float: left;
	margin-left: 5px;
}
 