<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
input{
	border:1px solid #fff;
	background:#292929;
	margin-bottom:6px;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#fff;
}
</style>
</head>

<body style="background:#016aa9">
<div style="position:relative; width:767px; height:457px;margin:0 auto; ">
<div><img src="file:///E|/精品课程/course/psd7225_03.jpg" width="767" height="457" border="0" usemap="#Map" /></div>
<div style=" position:absolute; top:160px; left:250px;">
	<span style="font-size:16px; font-weight:bold; ">用户名</span>：<input type="text" id="username"/><br/>
 	<span style="font-size:16px; font-weight:bold;"><span style=" letter-spacing:16px;">密</span>码</span>：<input type="text" id="password"/><br/>
    <span style="font-size:16px; font-weight:bold; ">验证码</span>：
</div>
  <map name="Map" id="Map">
    <area shape="rect" coords="307,254,378,284" href="#" />
    <area shape="rect" coords="387,257,458,286" href="#" />
  </map>

</div>
</body>
</html>
